html body {
    background-color: #F5F5F5;
}

#main {
  background-color: #f0f5f5;
  padding: 30px;
  margin-top: 30px;
  /*border: 18px double rgba(28,110,164,0.32);*/
  border: 18px outset rgba(29,117,173,0.32);
  border-radius: 25px;
}

#email {
  margin-top: 18px;
}

p {
  text-align: right;
  font-style: italic;
  color: #000066;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

.btn-primary {
  background-color:  #006bb3 !important;
  border: none !important;
}

.btn-primary:hover  {
background-color:  #0099ff !important; 
 /*background-color: white !important; */
 color: black !important;
}
